/* FOOTER */
.footer {
  background-color: #faad68;
  margin-top: 30px;
  color: #50222b;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 30px 0px;
}

.footer-logo {
  display: block;
  float: left;
  margin-top: 25px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-thongtin,
.footer-sanpham,
.footer-lienhe {
  float: left;
  padding-left: 30px;
}

.footer-main a {
  font-size: 14px;
  transition: all ease 0.3s;
}

.footer a:hover {
  color: #f2d9c3;
}

.logo-mxh a {
  margin-bottom: 5px;
}

.facebook,
.youtube,
.twitter,
.pinterest,
.instagram {
  display: inline-block;
  color: #ffffff;
  height: 25px;
  width: 25px;
  font-size: 12px !important;
  line-height: 27px;
  text-align: center;
  border-radius: 50% !important;
  transition: all 0.2s ease-out 0s !important;
  margin: 0 3px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #00bdec;
}

.instagram {
  background: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
}

.youtube {
  background-color: #c4302b;
}

.pinterest {
  background-color: #b8242a;
}

.facebook:hover,
.youtube:hover,
.twitter:hover,
.pinterest:hover {
  background-color: black;
}

.instagram:hover {
  background: black;
}

