/* HEADER */
.header {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header-top {
  width: 100%;
  padding: 38px 0 37px;
}
.header-shop, .header-logo, .header-account {
  float: left;
  font-style: italic;
  width: 100%;
}
.main-menu {
  border-top: 2px solid #000;
  position: relative;
}

.header-shop {
  padding-top: 20px;
}

.header-top::after {
  content: "";
  display: table;
  clear: both;
}

.header-account ul li a {
  color: #999999;
  font-size: 14px;
}

.account-hover {
  padding: 20px;
  display: inline-block;
  position: relative;
}

.account-hover:hover ul {
  display: block;
  transition: all ease 0.3s;
  
}

.header-account ul {
  padding: 20px;
  list-style: none;
  margin: 0;
  display: none;
  background: #363636;
  width: 200px;
  position: absolute;
  left: 0;
  z-index: 2;
  font-style: normal;
  top: 52px;
  animation: 0.5s ease 0s normal forwards 1 running drop-animation;
}

.header-account ul li {
  font-style: normal;
  margin: 3px 0;
}

.header-account ul li:hover a{
  color: #fff;
}

.header-account>span {
  padding: 6px 15px 20px;
}

.header-navul-1 .nav-item {
  position: relative;
  display: block;
  padding: 17px 28px 15px;
  float: left;
}

.header-navul-1 .nav-item .home {
  padding: 8px 8px 0px !important;
}

.gohome {
  background: url(/assets/icon/icon-home.png);
  font-size: 0;
  display: block;
  height: 40px;
  width: 50px;
}

.nav-gohome {
  padding: 8px 0px;
  position: relative;
  display: block;
  float: left;
}

.nav-site-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #50222b;
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 15px;
}

.nav-dropdown {
  padding: 20px;
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1000;
  min-width: 150px;
  top: 48px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #363636;
  animation: 0.5s ease 0s normal forwards 1 running drop-animation;
}

.nav-dropdown li, .mega-menu-nav-dropdown li {
  margin: 4px;
}

.nav-dropdown li a:hover, .mega-menu-nav-dropdown li a:hover {
  color: #fff;
}

.nav-dropdown a {
  color: #999999;
  display: block;
  text-transform: none;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header-nav ul li:hover ul {
  display: block;
}

.mega-menu-nav-dropdown {
  width: 100%;
  padding: 0;
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1000;
  top: 48px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #363636;
  animation: 0.5s ease 0s normal forwards 1 running drop-animation;
}

.mega-menu {
  padding: 40px 70px 60px;
  font-family: Arial, sans-serif;
}

.mega-menu-nav-dropdown a {
  color: #999999;
  display: block;
  text-transform: none;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.menu-item {
  float: left;
  padding-bottom: 40px;
}

@keyframes drop-animation {
  0% {
      opacity: 0;
      transform: translate(0px, 10px);
  }
  100% {
      opacity: 1;
      transform: translate(0px, 0px);
  }
}