.wrapper .wrapper_nav {
  width: 100%;
  padding: 0 20px 0 20px;
  height: 80px;
}
body {
  background-color: #e73c3c;
}
.header .wrapper .nav li:first-child {
  float: left;
  margin: 0;
  padding-bottom: 5px;
  position: relative;
  top: -5px;
}
.nav {
  width: 50%;
  margin: auto;
}
.nav::after {
  content: "";
  clear: both;
  display: block;
}
.wrapper::after {
  content: "";
  clear: both;
  display: block;
}
section::after {
  content: "";
  clear: both;
  display: block;
}
.header .wrapper .nav li {
  display: inline-block;
  float: right;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 30px 0 30px;
  margin: 10px;
}
.nav_font {
  font-size: 10px;
  font-weight: 800;
  color: #faad68;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}
section h1 {
  color: #faad68;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: normal;
  font-size: 50px;
  text-align: center;
}
.nav_font:hover {
  color: black;
  opacity: 0.5;
}
.nav img {
  width: 90px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  position: relative;
  top: -30px;
}
.video {
  width: 100%;
}
.wrapper {
  position: relative;
  box-sizing: border-box;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 40px 0 40px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel .dragging {
  scrollbar-width: auto;
  cursor: grab;
}
.carousel .dragging img {
  pointer-events: none;
}
.carousel img {
  width: calc(100% / 5);
  object-fit: cover;
  margin-left: 14px;
}
.carousel img:first-child {
  margin-left: 0px;
}
.wrapper i {
  background-color: #181818;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  opacity: 0.4;
  cursor: pointer;
  font-size: 1.2rem;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper i:first-child {
  left: 10px;
  display: none;
}
.wrapper i:last-child {
  right: 10px;
}
.carousel img {
  overflow: hidden;
  max-width: 100%;
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  opacity: 1;
}
.carousel img:hover {
  opacity: 1;
  filter: alpha(opacity = 80);
  transform: scale3d(1.1, 1.1, 1);
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .header .wrapper .nav li {
    float: right;
    padding: 0 20px 0 20px;
  }
  .nav img {
    width: 90px;
    margin-left: 30px;
  }
  .nav {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
  .header .wrapper .nav li {
    float: right;
    padding: 0 20px 0 20px;
  }
  .nav img {
    width: 90px;
    margin-left: 30px;
  }
  .nav {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .carousel img {
    width: calc(100%);
  }
  .header .wrapper .nav li {
    float: right;
    padding: 0;
  }
  .nav img {
    width: 90px;
    margin-left: 30px;
  }
  .nav {
    margin: 0;
    width: 100%;
  }
}
