body {
  background-color: #e73c3c;
  font-family: "Fredoka One", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* navigation bar */
.wrapper .wrapper_nav {
  width: 100%;
  padding: 0 20px 0 20px;
  height: 80px;
}

.header .wrapper .nav li:first-child {
  float: left;
  margin: 0;
  padding-bottom: 5px;
  position: relative;
  top: -5px;
}

.nav {
  width: 50%;
  margin: auto;
}
.nav::after {
  content: "";
  clear: both;
  display: block;
}
.wrapper::after {
  content: "";
  clear: both;
  display: block;
}
section::after {
  content: "";
  clear: both;
  display: block;
}
.header .wrapper .nav li {
  display: inline-block;
  float: right;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 30px 0 30px;
  margin: 10px;
}
.nav_font {
  font-size: 10px;
  font-weight: 800;
  color: #faad68;
  font-family: "Fredoka One", cursive;
  letter-spacing: normal;
}

section h1 {
  color: #faad68;
  font-family: "Fredoka One", cursive;
  letter-spacing: normal;
  font-size: 50px;
  text-align: center;
  margin: 30px;
}
.nav_font:hover {
  color: black;
  opacity: 0.5;
}
.nav img {
  width: 90px;
}
/* video  */
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  position: relative;
  top: -30px;
}
.video {
  width: 100%;
}
/* highlight */
.wrapper {
  position: relative;
  box-sizing: border-box;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 40px 0 40px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel .dragging {
  scrollbar-width: auto;
  cursor: grab;
}
.carousel .dragging img {
  pointer-events: none;
}
.carousel img {
  width: calc(100% / 5);
  object-fit: cover;
  margin-left: 14px;
}
.carousel img:first-child {
  margin-left: 0px;
}
.wrapper i {
  background-color: #181818;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1.2rem;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #e70808;
}
.wrapper i:first-child {
  left: 10px;
  display: none;
}
.wrapper i:last-child {
  right: 10px;
}
.carousel img {
  overflow: hidden;
  max-width: 100%;
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  opacity: 1;
}
.carousel img:hover {
  opacity: 1;
  filter: alpha(opacity = 80);
  transform: scale3d(1.1, 1.1, 1);
}
/* new release  */
.wrapper .divide {
  width: calc(33.3% - 20px);
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.wrapper .divide:nth-child(even) {
  flex-wrap: wrap-reverse;
}
.divide::after {
  content: "";
  clear: both;
  display: block;
}
.divide img:first-of-type {
  clear: both;
  width: 100%;
  height: 80%;
  margin: 0 0 10px 0;
}
.divide img {
  width: calc(50% - 20px);
  float: left;
  height: 20%;
  margin: 0 10px 10px 10px;
}
.carousel .dragging .divide {
  pointer-events: none;
}
.carousel .divide {
  width: calc(100% / 4);
  object-fit: cover;
  margin-left: 14px;
}
.carousel .divide:first-child {
  margin-left: 0px;
}
.carousel .divide {
  overflow: hidden;
  max-width: 100%;
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  opacity: 1;
}

/* responsive */
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .header .wrapper .nav li {
    float: right;
    padding: 0 20px 0 20px;
  }
  .nav img {
    width: 90px;
    margin-left: 30px;
  }
  .nav {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
  .header .wrapper .nav li {
    float: right;
    padding: 0 20px 0 20px;
  }
  .nav img {
    width: 90px;
    margin-left: 30px;
  }
  .nav {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .carousel img {
    width: calc(100%);
  }
  .header .wrapper .nav li {
    float: right;
    padding: 0;
  }
  .nav img {
    width: 90px;
    margin-left: 30px;
  }
  .nav {
    margin: 0;
    width: 100%;
  }
}
