.wrapper .wrapper_nav {
  width: 100%;
  padding: 0 20px 0 20px;
  height: 80px;
}
.header {
  background-color: #e73c3c;
  height: 80px;
}
.header .wrapper .nav li:first-child {
  float: left;
  margin: 0;
  padding-bottom: 5px;
  position: relative;
  top: -5px;
}
.nav {
  width: 50%;
  margin: auto;
}
.nav::after {
  content: "";
  clear: both;
  display: block;
}
.wrapper::after {
  content: "";
  clear: both;
  display: block;
}
section::after {
  content: "";
  clear: both;
  display: block;
}
.header .wrapper .nav li {
  display: inline-block;
  float: right;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 30px 0 30px;
  margin: 10px;
}
.nav_font {
  font-size: 10px;
  font-weight: 800;
  color: #faad68;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}
.nav_font:hover {
  color: black;
  opacity: 0.5;
}
.nav img {
  width: 90px;
  height: px;
}
/* .wrapper .wrapper_video {
  padding: 0;
} */
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  position: relative;
  top: -30px;
}
.video {
  width: 100%;
}
