.gallery {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.gallery-wrap {
    position: relative;
    margin-bottom: 40px;
}

.gallery div {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}

.slide-img {
    width: 100%;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.slider-btn {
    text-align: center;
}

.gallery-wrap .slider-btn div {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.gallery-wrap .slider-btn div#nextBtn {
    right: 15px;
}

.gallery-wrap .slider-btn div#preBtn {
    left: 15px;
}

.slider-btn div:hover i::before {
    color: rgba(0,0,0,0.8);
}


.fa-angle-left::before {
    font-size: 26px;
    line-height: 24px;
    color: #999;
}

.fa-angle-right::before {
    font-size: 26px;
    line-height: 24px;
    color: #999;
}